<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fastway Shopify App V.3</title>
    <link rel="stylesheet" type="text/css" href="~/Content/site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    
  
    <script type="text/javascript">
        function Nav(nav) {//navigate within app
            var Url = document.getElementById('shopUrl').value;
            window.location.href = '/Home/' + nav + '?shopUrl=' + Url;
        }

    </script>
</head>
<body style="padding-top:15px">
    <div id="header" class="container hidden-sm hidden-xs">
        <div id="headerlogo">
            <a id="logo" title="Homepage" onclick="Nav('Index')" href="javascript:void(0);"></a>
        </div>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="align-content: center">
                    <li><a onclick="Nav('Index')" href="javascript:void(0);">Home</a></li>
                    <li><a onclick="Nav('Preferences')" href="javascript:void(0);">Preferences</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
